body {
    font-family: 'Raleway', sans-serif;
}

.center {
    align-items: center;
    text-align: center;
    margin: auto;
}
#image-1 {
    background-image: url("https://res.cloudinary.com/don501jgp/image/upload/v1678448419/static/images/mid1.48fed18100ea.png");
    background-size: contain;
    width: 99%;
}

#image-2 {
    background-image: url("https://res.cloudinary.com/don501jgp/image/upload/v1678448418/static/images/main.168ea9c7555c.png");
    background-size: contain;
    background-repeat: repeat;
}

.height {
    height: 20rem
}

.btn-secondary:hover {
    background-color: darkblue
}

.btn {
    border: none;
    background-color: lightblue
}

.submit {
    background-color: lightblue;
    color: white;
    border: none;
    margin: 3px;
    border-radius: 0.375rem;
}

.submit:hover {
    background-color: darkblue;
}

.delete {
    background-color: rgba(254, 121, 104)
}

.delete:hover {
    background-color: rgba(255, 76, 48)
}

.nav-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 792px) {
    #image-1 {
        background-image: url("/static/images/mid1.png");
        background-size: cover;
        height: auto;
        width: auto;
        padding-top: 0;
    }
}