{% extends 'base.html' %}
{% block content %}
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">The Restuarant</h1>
        <p class="text-white-50 mb-0">Modern Cuisine</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>What to exepct at The Restuarant?</h2>
                <p class="lead">We make michelin star food in big quantites at afforable prices.</p>
                <p class="mb-0">To view our menu click on the menu tab above.</p>
            </div>
        </div>
    </div>
</section>
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>A little about us.</h2>
                <p class="lead">The Resturant is a independent chain of resturants that introduces michelin star food at afforable prices .</p>
                <p class="mb-0">We are passionate about what we do and make sure that everyone can enjoy our services</p>
            </div>
        </div>
    </div>
</section>
{% endblock%}