{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h3 class="center">My Bookings</h3>
    {% for booking in bookings %}
    <div>
        <h3>{{ booking.name.capitalize }}</h3>
        <h3>{{ booking.time }}</h3>
        <h3>{{ booking.date }}</h3>
        <h3>{{ booking.special_requirements}}</h3>
    </div>
    <a class="btn btn-secondary" href="{% url 'update_booking' booking.pk %}">Edit</a>
    <a class="btn delete" href="{% url 'delete_booking' booking.pk %}">Delete</a>
    {% endfor %}


</div>
{% endblock%}